APP_NAME=db-manager
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=18087
AUTO_INIT_DB=true

# PostgreSQL (SQLAlchemy async URL)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/echo_db

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=echo_db
MONGO_PROFILE_COLLECTION=user_additional_profile

